*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: url(./img/fondo.jpg);
  min-height: 100vh;
  min-width: 100vw;
  margin: 0;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Montserrat', sans-serif;
}

a{
  text-decoration: none;
}

.padre{
  font-size: 16px;
}
/* Header */
  .header{
    background: #0A2C59;
    display: flex;
    flex-flow: column nowrap;
  }

    .menu{
      display: flex;
      flex-flow: row nowrap;
      height: 80px;
      align-items: center;
      justify-content: flex-end;
    }
          .show-menu-btn,.hide-menu-btn{
            transition: 0.4s;
            font-size: 30px;
            cursor: pointer;
            display: none;
          }
          .show-menu-btn{
            float: left;
          }
          .show-menu-btn i{
            line-height: 35px;
            width: 60px;
            text-align: center;
            margin: 0px;
            font-size: 30px;
          }
            .show-menu-btn:hover{
              color: #fefefe;
            }
        .nav{
          flex:  1 auto;
        }
          .nav a{
            color: #fefefe;
            font-size: 14px;
            text-transform: uppercase;
            padding: 0 10px;
            letter-spacing: 2px;
          }
          .nav a:hover {
            color: #7974749f;
          }

        .search-txt {
          flex: 3 auto;
          border-radius: 20px;
          width: 200px;
          height: 30px;
          text-align: center;
        }


  /* Seccion donde apárecen las listas de selección*/
  .opciones{
    background: #fefefe;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #e1e1e1;
  }
    .img{
      width: 200px; height: auto;
      display:block;
      margin:auto;
    }
    .listasSeleccion{

      margin: 0px auto;
      max-width: 100%;
      width: 100%;
      position: static;
      top: 50%;
      left: 50%;
      transform: (-50%,50%);
      display: flex;

      flex-wrap: wrap;
      justify-content: space-evenly;

    }
      .listasSeleccion select {
        background: rgba(10, 44, 89, 0.932);
        color:  #fefefe;
        padding: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 170px;
        height: 40px;
        border: none;
        font-size: 16px;
        box-shadow: 0 5px 25px rgba(0, 0, 0,.5);
        border-radius: 10px ;
        cursor: pointer;
      }

      .dropdown {
        display: block;
        color: #2B4D86;
        line-height: 1.3;
        text-align: center;
        padding: 20px;
        max-width: 100%;
        box-sizing: border-box;
        margin: 0;
        box-shadow: 0 1px 0 1px rgba(0,0,0,.03);
        -webkit-appearance: none;
        appearance: none;
        background-color: #fff;
        background-repeat: no-repeat, repeat;
        background-position: right .7em top 50%, 0 0;
        background-size: .65em auto, 100%;
      }
      .dropdown::-ms-expand {
        display : none;
      }
      .dropdown:hover {
        border-color: #888;
      }
      .dropdown:focus {
        border-color: #aaa;
        box-shadow: 0 0 1px 1px rgba(10, 44, 89, 0.562);
        color: rgba(217, 223, 233, 0.76);
        outline: none;
      }
      .dropdown option {
        font-weight:normal;
      }

  .lista-pokemones{
    background: #fefefe;

  }
    .contenedor{

      width: 100%;
      height: auto;
      /* flex stile */
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin: 0px auto;
      flex-flow: wrap;
      padding: 20px 0 60px 0;
    }
      .card{
        width: 250px;
        height: 300px;
        padding: 30px 50px;
        background: rgba(10, 44, 89, 0.089);
        margin:20px;
        box-sizing: border-box;
        font-size:17px;
        border-radius: 20px;
        border: 1px solid #e1e1e1;
        text-align: center;
        margin-bottom: 1%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.623);
        transition: 1s;
        cursor: pointer;
      }
      .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.747);
      }
      .card img {
        border-radius: 5px 5px 0 0;
        width: 65%;
      }
      .card .type-icon-main {
        max-width: 25%;
        margin: 8px auto 0;
        justify-content: space-around;
      }
      .card .type-icon-text {
        font-size:12px;
        text-align: center;
      }

  /* Sección del Modal*/
  .modal{
    display: none; /* en main esta block al dar click se activa*/
    position: fixed; /* se queda en un lugar*/
    z-index: 1; /* se posiciona en el on top */
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* por si el height es mas grande quue el documento*/
    background-color: rgba(0, 0, 0, 0.452);
  }
    .contenido-modal {
      position: relative;
      margin: auto;
      border: 1px solid rgba(243, 239, 239, 0.199);
      box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.589);
      width: 21rem;
      height: 39rem;
      background-image: url("./img/dragon");
      background-size: 100% 100%;
      margin: 1rem auto;
      padding-top: 1rem;
      border-radius: 0.5rem;
    }
    .contenido-modal.Fire{
      background-image: url("./img/fire");
      background-size: 100% 100%;
    }

    .contenido-modal.Water{
      background-image: url("./img/agua");
      background-size: 100% 100%;
    }

    .contenido-modal.Grass{
      background-image: url("./img/grass");
      background-size: 100% 100%;
    }

    .contenido-modal.Poison{
      background-image: url("./img/poison");
      background-size: 100% 100%;
    }
    .contenido-modal.Normal{
      background-image: url("./img/normal");
      background-size: 100% 100%;
    }
    .contenido-modal.Ground{
      background-image: url("./img/tierra");
      background-size: 100% 100%;
    }
    .contenido-modal.Bug{
      background-image: url("./img/bug");
      background-size: 100% 100%;
    }

    .contenido-modal.Fighting{
      background-image: url("./img/fight");
      background-size: 100% 100%;
    }
    .contenido-modal.Electric{
      background-image: url("./img/electric");
      background-size: 100% 100%;
    }
    .contenido-modal.Fairy{
      background-image: url("./img/fairy");
      background-size: 100% 100%;
    }

    .contenido-modal.Rock{
      background-image: url("./img/rock");
      background-size: 100% 100%;
    }

    .contenido-modal.Ice{
      background-image: url("./img/ice");
      background-size: 100% 100%;
    }

    .contenido-modal.Psychic{
      background-image: url("./img/psychic");
      background-size: 100% 100%;
    }

    .contenido-modal.Dragon{
      background-image: url("./img/dragon");
      background-size: 100% 100%;
    }

    .contenido-modal.Ghost{
      background-image: url("./img/ghost");
      background-size: 100% 100%;
    }

    /* animación para modal*/
    @keyframes modal {
      from {top: -330px; opacity: 0;}
      to{top:0; opacity: 1;}
    }
    /*el boton cerrar*/
    .close {
      color: rgba(254, 254, 255, 0.336);
      background: rgba(216, 204, 204, 0.068);
      border-radius: 5px;
      width: 35px;
      text-align: center;
      font-size: 30px;
      font-weight: bold;
      position: absolute;
      top: 3px;
      right: 3px;
    }
    .close:hover, .close:focus{
      color: rgb(250, 250, 250);
      text-decoration: none;
      cursor: pointer;
    }

    /* Seccion dentro del card del modal*/
    .text--small {
      margin-top: 0rem;
      font-size: 0.8rem;
      color: #3F4240;
    }
    .pkmn__picture {
      width: 14rem;
      height: 11.5rem;
      margin: 0 auto;
    }
    .pkmn__png {
      width: 200px; height: auto;
      display:block;
      margin-top: -1rem;
      position: absolute;
      top: 30px;
      right: 60px;
      z-index: 1;
    }
    .pkmn__exp-bar{
      width: 17rem;
      height: 17rem;
      border-style: solid;
      border-color: white rgba(255, 255, 255, 0.15) transparent white;
      border-radius: 50%;
      margin-left: -1.6rem;
      margin-top: 1rem;
      }

    .pkmn__info {
      width: 20rem;
      height: 430px;
      background: #fefefe;
      box-shadow: rgba(76, 82, 78, 0.767);
      margin: 0 auto;
      border-radius: 0.5rem;
      padding: 0.3rem 0 0.3rem 0;
      position: relative;
      top: -30px;
    }
      .pkmn__name{
        width: 100%;
        text-align: center;
        font-size: 1.5rem;
      }
          .pkmn__name::before{
            content: "";
            width: 11rem;
            height: 0.5rem;
            border-radius: 0.5rem;
            background: #6FEDB8;
            margin-top: 2.2rem;
            margin-left: -3.8rem;
            position: absolute;
            left: 9rem;
          }
          .pkmn__name .type-icon{
            max-width: 10%;
            margin: 10px auto 0;
            position: relative;
            top: 0.5rem;
          }
      .pkmn__data {
        width: 20rem;
        height: 2rem;
        display: flex;
        justify-content: center;
        margin-top: 2rem;
        margin-bottom: 0.5rem;
        margin-left: 1rem;
      }
          .pkmn__type, .pkmn__weight, .pkmn__height {
            position: relative;
            top: -12px;
            right: 10px;
            width: 5.1rem;
            text-align: center;
            font-size: 0.9rem;
            border-right: solid 0.1rem rgba(0, 0, 0, 0.16);
            padding-bottom: 3rem; /* se extiende la barra lateral*/
            padding-left: 0.2rem;
            padding-right: 0.2rem;
          }
          .pkmn__type {
            width: 7rem;
            padding-right: 0rem;
          }
          .pkmn__height {
            border-right: none;
          }
      .pkmn___data2 {
          width: 18rem;
          height: 3rem;
          display: flex;
          border-top: solid 0.1rem rgba(0, 0, 0, 0.16);
          padding-top: 0.7rem;
          margin: 0 auto -0.8rem auto;
      }
          .pkmn__egg, .pkmn__candy {
            width: 9rem;
            text-align: center;
            position: relative;

          }
          .pkmn__egg{
            border-right: solid 0.1rem rgba(0, 0, 0, 0.16);
            padding-bottom: 6rem;
            position: relative;
          }
          .pkmn__egg img{
            width: 30px;
            display:block;
            margin:auto;
          }
          .pkmn__candy img{
            width: 40px;
            display:block;
            margin:auto;
          }
      .pkmn__evolucion{
        width: 18rem;
        height: 4rem;
        display: flex;
        border-top: solid 0.1rem rgba(0, 0, 0, 0.16);
        padding-top: 0.3rem;
        margin: 0 auto 0 auto;
        position: relative;
        top: 80px;
      }
          .pkmn__evolucion h4{
            position: absolute;
            text-align: center;
            left: 7rem;
            font-weight: bold;
            margin-bottom: -1rem;
          }
          .spam-ev{
            position: relative;
            text-align: center;
            font-size: 12px;
          }
          .pkmn__anterior{
            border-right: solid 0.1rem rgba(0, 0, 0, 0.16);
            width: 9rem;
            height: 7rem;
            text-align: center;
            position: relative;
            top: 25px;
          }
          .pkmn__ev{
            width: 5rem;
          }
          .pkmn__siguiente{
            width: 9rem;
            text-align: center;
            position: relative;
            top: 25px;
          }

  /* Seccion del pie*/
  .clearfix:before,
  .clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
  }
  .clearfix:after {
    clear: both;
  }

  footer{
    background-color: #0A2C59;

    height: 100px;
  }
    .container {
      color: #FFFFFF;
      padding: 20px 20px;
      font-size: 12px;
      border-bottom: 1px solid rgba(255,253,245,0.2);
    }
    .social-media {
      text-align: center;
    }
      .social-media a {
        color: #fefefe;
        font-size: 14px;
        text-transform: uppercase;
        padding: 0 10px;
        letter-spacing: 2px;
      }

    .copyRight {
      color: #ffff;
      padding: 10px 0 20px 0;
      text-align: center;
    }

   /*responsive modal */
   @media screen and (max-widht:900px) {
    .contenido-modal {
      width: 70%;
    }
  }

  @media only screen and (max-width:935px){
    .header{
      z-index: 1;
    }
    .show-menu-btn{
      display: block;
      z-index: 100;
      position: absolute;
      left: 2rem;
    }
    .nav{
      position: fixed;
      width: 60%;
      height: 100vh;
      background: #234375;
      right: -100%;
      top: 0;
      text-align: center;
      padding: 80px 0;
      line-height: normal;
      transition: 0.7s;
        display: block;
    }
    .nav-principal a{
      display: block;
      padding: 20px 0;
      margin: 10px 0px;
      letter-spacing: 2px;
    }
  }

  @media only screen and (max-width:360px){
    .search-txt {
      flex: 2 auto;
      border-radius: 20px;
      width: 150px;
      height: 30px;
      position: relative;
      right: 0rem;;
    }
  }
